* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Edu SA Beginner', cursive;
font-family: 'Montserrat', sans-serif;
background-color: #121316;
}
.head {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
   
}

.txt1 {
    color: #fff;
    border-radius: 20px;
    font-size: 1.5em;
}
.txt1:hover {
    color:#467dbd;
}
.title {
   color: #fff;
   font-size: 6em;
    }
.title:hover {
    
    color:#467dbd;

    
}
.sub-bar {
    
    width: 100%;
    height: 100px;
    background-color:#1b1b1d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 80%;
    display: flex;
    border-radius:30px ;
    border: #222223 solid 5px;
    display: flex;
    justify-content: center;
    
}
a{
    border: 3px #29292a solid;
    border-radius: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px;
    }
a:hover{
    color:#467dbd;
}

.header {
    background-image: url('/imagen/guitar.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 200ms ease-in-out;
    cursor: pointer;
}
h1 {
    color:#000;
    font-size: 3em;
}
.txt{
    font-size: 2em;
    color:#000;
}
.txt:hover{
    color:#467dbd;
}
.text:hover{
    color:#fff;
}

.text {
    font-size: 7em;
    color: #000;
}

.sidebar {
   float: left;
   position: absolute;
    width: 250px;
    background-color:rgb(12, 226, 12); filter:alpha(opacity=60); opacity:.3;
    height: 100vh;
    left: 0;
    top: 300px;

    display: flex;
    flex-direction: column;
}


.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.main .title1 {
    position: absolute;
    border-radius:30px ;
    border: #222223 solid 5px;
    height: 100px;
    display: flex;
    align-items: center;
    top: 40px;
    font-size: 3em;
}
.box{
    width: 300px;
    height: 300px;
    background-color:#222223; filter:alpha(opacity=1); opacity:.6;
    margin: 10px;
    padding: 10px;
   
    border-radius:  40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}
.box1 {
    width: 300px;
    height: 300px;
    background-color:#222; filter:alpha(opacity=60); opacity:.6;
    margin: 10px;
    padding: 10px;
   
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.box:hover{
    border:5px #467dbd solid;
    background-color: #070707;
    height: 400px;
    top: 100px 20px;
    left: 100px;
}
.box1:hover {
    height: 400px;
    border: 5px #467dbd solid;
    border-radius:30px;
    background-color: #070707;
   


}

.box1 .fa-brands{
    font-size: 3em;
    color:red;
}
.fa-brands {
    font-size: 1.5em;
    color: #fff;
    margin: 20px 10px 20px 10px;
}
.fa-brands:hover{
    color: green;
}
img{
    border-radius: 20%;
    width: 100px;
    height: 100px;
}
h2 {
     color: #fff;
     margin-bottom: 40px;
}
p{
    color: #8b8b93;
    text-align: center;
    padding: 5px;
}
/* estilos del pie*/
.footer {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
   background-color:#121316 ;
    display: flex;
    align-items: center;
    justify-content: center;
 
  
   
}
.test {
    color: #fff;
}
.footer .fa-brands {
    color: #fff;
}
.footer .title1 {
    font-size: 3em;
    color: rgb(203, 195, 195);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    position: absolute;
    top: 20px;
}
.footer .txt2 {
    font-size: 2em;
    color: rgb(203, 195, 195);
    position: absolute;
    top: 70px;
}
.footer .txt3 {
    font-size: 2em;
    color: rgb(203, 195, 195);
    position: absolute;
    top: 110px;
}
.footer .txt4 {
    position: absolute;
    color: #fff;
    bottom: 20%;

    /*estilo para las cartas del footer*/
}
.card {
    width: 200px;
    height: 150px;
    background-color: #467dbd;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.card:hover {
    background-color:#0576f7;
    color: aqua;
}


/* MODIFCACION DE LOS TAMANOS DE PANTALLA*/

@media screen and (max-width:780px){
    body{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}

@media screen and (max-width:500px){
    body{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}
/*media query para titulo principal*/
@media screen and (max-width: 1120px) {
    .title{
        font-size: 50px;
        
    }
    .txt1{
        font-size: 20px;
        
    }
}

/*media query para titulo principal*/
@media screen and (max-width: 980px) {
    .title{
        font-size: 20px;
        
    }
    .txt1{
        font-size: 20px;
        
    }
}
/*media query para titulo principal*/
@media screen and (max-width: 780px) {
    .title{
        font-size: 20px;
        
    }
    .txt1{
        font-size: 20px;
        
    }
}

@media screen and (max-width: 500px) {
    .title{
        font-size: 20px;
       
    }
    .txt1{
        font-size: 20px;
       
    }
}


/*media query para el navbar 1120px*/

@media screen and (max-width:1120px){
    .sub-bar{
        display: flex;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    a{
        font-size: 20px;
    }
}

/*media query para el navbar 920px*/

@media screen and (max-width:920px){
    .sub-bar{
        display: flex;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    a{
        font-size: 10px;
    }
}
/*media query para el navbar 720px*/
@media screen and (max-width:720px){
    .sub-bar{
        display: flex;
       
        align-items: center;
        justify-content: center;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a{
        font-size: 15px;
    }
}
@media screen and (max-width:720px){
    .sub-bar{
        display: flex;
       
        align-items: center;
        justify-content: center;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a{
        font-size: 10px;
    }
}








/*  media query para el header*/ 
@media screen and (max-width:1120px){
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text{
        font-size: 3em;
        
    }
    .txt {
        font-size: 2em;
    }
}
@media screen and (max-width:920px){
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text{
        font-size: 2em;
        
    }
    .txt {
        font-size: 1.5em;
    }
}
@media screen and (max-width:780px){
    .header{
        display: flex;
        align-self:center;
    }
    .text{
        font-size: 50px;
       
    }
    .txt {
        font-size: 20px;
    }
}

@media screen and (max-width:500px){
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text{
        font-size: 30px;
        
    }
    .txt {
        font-size: 15px;
    }
}
/* media query para la el main y los boxes*/
@media  screen and (max-width:1120px) {
   .main {
       display: flex;
       align-items: center;
       justify-content: center; 
    }
    .title1{
        font-size: 20px;
    }
    .txt3 {
        font-size: 10px;
    }
    .fa-brands{
        font-size: 15px;
    }
    h2 {
        font-size: 20px;
    }
}

/* media query para la el main y los boxes*/
@media  screen and (max-width:920px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center; 
     }
     .box{
        width: 250px;
        display: flex;
        align-items: flex-start;
       flex-wrap: wrap;
        text-align: center;
     }
     .main .title1{
         font-size: 20px;
     }
     .txt3 {
         font-size: 10px;
     }
     .fa-brands{
         font-size: 10px;
     }
     .main h2 {
         font-size: 18px;
     }
 }
 
       /* media query para la el main y los boxes*/
@media  screen and (max-width:720px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center; 
     }
     .box{
        width: 250px;
        display: flex;
        align-items: center;
       flex-wrap: wrap;
        text-align: center;
     }
     .main .title1{
         font-size: 20px;
     }
     .txt3 {
         font-size: 10px;
     }
     .fa-brands{
         font-size: 10px;
     }
     .main h2 {
         font-size: 18px;
     }
 }
 
       
       
/* media query para la el main y los boxes*/
@media  screen and (max-width:500px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center; 
     }
     .box{
        width: 250px;
        display: flex;
        align-items: center;
      flex-wrap: wrap;
        text-align: center;
     }
     .main .title1{
         font-size: 20px;
     }
     .txt3 {
         font-size: 10px;
     }
     .fa-brands{
         font-size: 10px;
     }
     .main h2 {
         font-size: 18px;
     }
 }
 
 
       
       

       
